.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1100;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  width: 220px;
  padding-top: 12px;
  padding-bottom: 12px;
}
