.card {
  border-radius: 4px;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: transform var(--animation);
}

.card:hover {
  transform: scale(1.02);
}

.descr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100px;
  padding: 10px;
}

.title {
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 700;
}
