.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;
  min-width: 180px;
  padding: 8px 16px;
  color: var(--text-color);
  background-color: #fff;
  transition: color var(--animation);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
}
.button:disabled {
  color: #fff;
  cursor: default;
}

.icon {
  width: 40px;
  height: 40px;
}

.page {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
}
