.button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 10px;
  transition: color var(--animation);
  font-size: 18px;
  font-weight: 500;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
}

.icon {
  width: 26px;
  height: 26px;
  margin-right: 4px;
}
